body {
  background-color: #8bbabb;
  color : #464159;
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: #464159;
  color: #c7f0db;
  border-color: #464159;
}
h1 {
  text-align: center;
  margin-top: 50px!important;
  margin-bottom: 50px!important;

}

.centered_button  {
  margin: 0 auto;
  width: 150px;
  display: block;
  margin-top: 50px;
}

input, textarea{
  background-color: #464159;
  color: #c7f0db;
}

::placeholder {
  color: #8bbabb;
}

hr {
  background-color: #6c7b95;
  border-top: 4px dashed #8c8b8b;
  width: 300px;
  margin-top: 45px;}
