body {
  color: #8bbabb;
  background-color : #464159;
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: #8bbabb;
  color: #464159;
  border-color: #464159;
}
h1 {
  text-align: center;
  margin-top: 50px!important;
  margin-bottom: 50px!important;

}

.centered_button  {
  margin: 0 auto;
  width: 150px;
  display: block;
  margin-top: 50px;
}

input, textarea{
  color: #464159;
  background-color: #8bbabb;
}

::placeholder {
  color: #464159;
}

hr {
  background-color: #6c7b95;
  border-top: 4px dashed #8c8b8b;
  width: 300px;
  margin-top: 45px;
}

#bios {
  margin-top: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #464159;
  text-align: center;
  font-size: 12px;
}
